---
import Heading from "./Heading.astro";
import Links from "./Links.astro";


---

<section class="CTA">
    <div class="container-md bg-dark CTA__container">
        <div class="content-lg content-light CTA-content">
            <Heading tag='h2' size='xl' fontFamily='primary' marginBottom='m'>Let’s Make Something You’re Proud to Wear</Heading>
            <p class="large">Whether it’s your first time ordering custom shirts or your tenth merch drop, we’re here to make it simple. No hassle, no guesswork—just high-quality screen printing with a quick turnaround and a local team that’s got your back.</h3>
            <div class="btn-group">
                <Links href={"/"}>Get Started</Links>
                <Links variant="outline" href={"/"}>Get A Quote</Links>
            </div>
        </div>
        <div id="blobCTA"></div>
        <div id="blur"></div>
    </div>
</section>

<style lang="scss">

.CTA {
    &__container {
        border-radius: var(--border-radius-medium);
        overflow: hidden;
        padding: var(--_spacing---section-space--main);
    }

    &-content {
        position: relative;
        z-index: 999;
        text-wrap: balance;
    }
}

</style>