---
import Heading from "./Heading.astro";

import type { HTMLAttributes } from "astro/types";

export interface HeroProps extends HTMLAttributes<"section"> {
    title: string;
    subtitle?: string;
    ariaLabel?: string;
}

const { title, subtitle, ariaLabel, ...rest } = Astro.props;


---

<section class="hero bg-dark" aria-label={ariaLabel} {...rest}>
    <div class="container-md hero__container">
        <div class="column column-main flex-1">
            <div class="content-md">
                <Heading tag="h1" size="xxl" fontFamily="primary" marginBottom="l">{title}</Heading>
                <p>
                    {subtitle}
                </p>
            </div>
        </div>
    </div>
    <div id="blob"></div>
    <div id="blur"></div>
</section>

<style lang="scss">
.hero {
    overflow: hidden; 
    position: relative;
    padding-top: 124px;

    &__container {
        padding-top: var(--_spacing---section-space--xl);
        padding-bottom: var(--_spacing---section-space--xl);
    }

    h1, h2, h3, h4, p {
        color: var(--light-200)
    }

    .img-wrapper {
        width: 100%;
        border-radius: var(--border-radius-medium);
        overflow: hidden;
        height: 100%;
        aspect-ratio: 16 / 9;
    }

    .column {
        position: relative;
        z-index: 999;
    }
}

</style>