---
import Picture from "astro/components/Picture.astro";

import press from "@/assets/press.jpg"
import Heading from "./Heading.astro";


---

<section class="hero bg-dark">
    <div class="container-md column-main">
        <div class="column column-main flex-1">
            <div class="content-lg">
                <Heading tag="h1" size="xxl" fontFamily="primary" marginBottom="l">Our Services</Heading>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates eum tenetur dignissimos tempore sed expedita at voluptatum rerum labore pariatur, ex, consequatur architecto culpa provident exercitationem nostrum amet ea sint.
                </p>
            </div>
        </div>
        <div class="column flex-1">
            <div class="img-wrapper">
                    <Picture src={press} alt="travel photo" class="hero__img" loading="eager" width={2000} height={1000} />
            </div>
        </div>
    </div>
    <div id="blob"></div>
    <div id="blur"></div>
</section>

<style lang="scss">
.hero {
    overflow: hidden; 
    position: relative;
    padding-top: 124px;

    h1, h2, h3, h4, p {
        color: var(--light-200)
    }

    .img-wrapper {
        width: 100%;
        border-radius: var(--border-radius-medium);
        overflow: hidden;
        height: 100%;
        aspect-ratio: 16 / 9;
    }

    .column {
        position: relative;
        z-index: 999;
    }
}

</style>