---
import Image from "astro/components/Image.astro";
import Links from "@/components/Links.astro";

// Content
import { navData } from '@/data/navData';

// Images
import navLogo from '@/assets/navLogo.svg';
import wordmark from '@/assets/wordmark.png';


---
<footer class="footer">
    <div class="u-container">
        <div class="content-full footer-content">
            <div class="footer-info">
                <Image src={wordmark} alt="beyond belief wordmark" class="wordmark" />
                <p class="small">At Beyond Belief Studio, we specialize exclusively in high-quality screen printing for schools, small businesses, events, and brands—right here in Monroe, NC.</p>
                <div class="social-grid">
                    <span class="social">
                        <img src="/src/assets/instagram.png" alt="">
                    </span>
                    <span class="social">
                        <img src="/src/assets/facebook.png" alt="">
                    </span>
                    <span class="social">
                        <img src="/src/assets/mail.png" alt="">
                    </span>
                </div>
            </div>
            <div class="footer-links">
                <div class="footer-col">
                    <h3>Quick Links</h3>
                    <nav class="nav-links">
                        {navData.map((i) => {
                            return <Links variant="nav-link" href="{i.href}">{i.title}</Links>
                        })}
                    </nav>
                </div>
                <div class="footer-col">
                    <h3>Resources</h3>
                    <nav class="nav-links">
                        <Links variant="nav-link" href="/">Quote Calculator</Links>
                        <Links variant="nav-link" href="/">Blog</Links>
                        <Links variant="nav-link" href="/">Contact</Links>
                        <Links variant="nav-link" href="/">Terms and Service</Links>
                    </nav>
                </div>
                <div class="footer-col">
                    <h3>Contact Us</h3>
                    <nav class="nav-links lowercase">
                        <Links variant="nav-link" href="/" class="lowercase">contact@beyondbeliefstudio.com</Links>
                        <Links variant="nav-link" href="/">908-419-9566</Links>
                        <Links variant="nav-link" href="/">4408 Chatterleigh Drive, Monroe, NC 28110</Links>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>


<style lang="scss">
.footer {
    &-content {
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        justify-content: space-between;
        width: 100%;
        display: flex;
        text-align: left;
    }
}

.footer-info {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    flex-flow: column;
    width: 26%;
    display: flex;
}

.footer-links {
    justify-content: space-between;
    align-items: flex-start;
    width: 67%;
    display: flex;
    max-width: 850px;

    h3 {
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
}

.nav-links {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    .nav-link {
        font-weight: 400;
        text-transform: capitalize;
        letter-spacing: 0px;
        width: fit-content;
    }
}

.nav-links.lowercase .nav-link {
    text-transform: initial !important;
}

.wordmark {
    max-width: 100%;
    background-size: contain;
    height: fit-content;
    max-width: 250px;
    margin-bottom: 1rem;
}

.social-grid {
    display: flex;
    gap: 1rem;

    .social {
        background: var(--brand-primary);
        border-radius: 100%;
        height: 35px;
        width: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 1px;

        img {
            width: 20px;
            height: 20px;
        }
    }
}

</style>